@page "/"

@inject IJSRuntime ijsRuntime;
<PageTitle>Home</PageTitle>

<h1>Hello, @test!</h1>

Welcome to your new app.

<script>
    function jsFuncion() {
        alert("Hola mundo");
    }
</script>

@code{
    string test = "Emilo";

    protected override
}
